.perfil {
    background-color: darkgoldenrod;
    width: 300px;
    height: 1000px;
    padding: 20px;
}

img {
    width: 270px;
    height: 270px;
    border-radius: 200px;
    padding: 13px;
    margin-top: 130px;
}

.container {
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: center;
}

.nome {
    color: #fff;
    font-size: 150px;
    font-family: 'Bebas Neue', sans-serif;
}

.sobrenome {
    font-family: 'Bebas Neue', sans-serif;
    color: darkgoldenrod;
}

h2 {
    top: -10%;
    left: 0%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
}

.colorido {
    color: darkgoldenrod;
}

.sobremim {
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat';
}

body {
    background-color: #000;
}

.icons {
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    font-size: 40px;
    text-align: center;
}

.icons2 {
    position: absolute;
    top:10%;
    left:400%;
    text-align: center;
    font-size: 40px;
    text-align: center;
}

.icons3 {
    position: absolute;
    top:10%;
    left:800%;
    text-align: center;
    font-size: 40px;
    text-align: center;
}

